/* all elements */
*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	color: #000;
}

/* container */
.leagueContainer{
	width: 800px;
	height: 200px;
	border: 1px solid gray;
	margin: 50px auto;
	position: relative;
}

.mathResult{
	text-align: center;
}

.resultHeader{
	margin-bottom: 15px;
}

.leagueHeader span{
	display: inline-block;
	float: left;
	width: 398px;
	text-align: center;
	border: 1px solid gray;
}

/* fixture details */
.fixtureDetails{
	width: 399px;
	margin-top: 3px;
	float: left;
}

.fixtureDetails ul li{
	float: left;
	border: 1px solid gray;
	border-left: 0;
	width: 45px;
	height: 25px;
	text-align: center;
	line-height: 1.5;
}

.fixtureDetails ul li:nth-child(1){
	width: 122px;
	text-align: left;
}

/*buttons*/
#playAll{
	position: absolute;
	left: 0;
	bottom: 0;
}

#nextWeek{
	position: absolute;;
	right: 0;
	bottom: 0;
}

#championsTeam{
	margin-top: 10px;
}

/* possibility of championship */

#possibilityChamp{
	border: 1px solid olive;
	width: 400px;
	height: auto;
	margin: 0 auto;
}

#champContainer{
	display: inline-block;
}

#champContainer ul{
	display: inline-block;
	width: 400px;
}

#champContainer ul li{
	padding: 5px;
	text-align: left;
}

#info{
}

#champContainer ul li:nth-child(1){
	text-align: center;
}

#champContainer ul li span:nth-child(1){
	margin-left: 20px;
}


#champContainer ul li span:nth-child(2){
	float: right;
	margin-right: 20px;
}


