/* all elements */
*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	color: #000;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

body{
	background-color: #F2F2F2;
}

/*nav*/
.navbar{
	background-color: #28A745;
}

.caption{
	color: #1D1D1B;
}

.logo-navbar{
	width: 75px;
}

.logo{
	width: 25px;
}

.header-clear-button{
	background-color: #1D1D1B;
	position: absolute;
	right: 25px;
	width: 120px;
}

/*score history*/
.list-group{

}

.list-group li:nth-child(1){
	font-size: 14px;
	background-color: #F2F2F2;
}

.list-group li:nth-child(2){
	font-weight: bold;
}


.list-group li{
	font-size: 16px;
}

#season{
	font-size: 16px;
}

/* match result */
.match-result{
	margin-top: 50px;

}

.match-result li:nth-child(1){
	font-weight: bold;
	font-size: 16px;
	background-color: #FFF;
}

.match-result li span{
	float: right;
}

#firstMatch, #secondMatch{
	text-align: center;
}

.match-result-table tbody tr{
	width: 800px!important;
	background-color: olive;
}

.play-all-button, .next-week-button{
	background: #F2F2F2;
}

.play-all-button .card, .next-week-button .card{
	background-color: #F2F2F2;
	border:0;
}

.row{
	margin-bottom: 50px;
}

#playAll, #nextWeek{
	width: 100%;
	left: 0;
	top: 0;
}

.championsTeam{
	display: none;
	text-align: center;
}

.championsTeam .logo{
	float: left;
	width: 50px;
}

/* match result */


/*possibility*/
#possibilityContainer{
	display: none;
}


